{% extends 'base.html' %}
{% block content %}
{% load static %}


<main id="marginTop">
<section class="dealer-banner">
  {% include 'includes/messages.html' %}
    <div class="container">
      <!-- <h2 class="maintitle  "  >Benefits a Dealer</h2> -->
      <!-- <p class="main-subtitle  ">What are the benefits of being a dealer?</p> -->
      <div class="row">
        <div class="col-md-12 col-lg-5">
          <!-- <h4 class="pb-3">We are Trusted Name in E-Bike & Services</h4> -->
          <h2 class="maintitle  pb-3 text-uppercase">We are Trusted Name in E-Bike & Services</h2>

          <p class="subpara text-white">
            India's electric vehicle market size is expected to reach USD 152.21 billion by 2030. The market is expected to expand at a CAGR of 94.4% from 2021 to 2030. The rising fuel charges are boosting the growth of electric vehicles. Electric
            vehicles are the most economical travel option now available. Many people are now shifting to the electric vehicles. Those who start a business in the trending industry, in the early stages tend to make more profit and becomes market
            leader. Hence, with no doubt, this is the right time to start your venture in to the trending segment.
          </p>
          <div class="button_wrap  ">

            <a href="#" class="btn btndealer">
              <span class="span">Apply Dealership</span>

            </a>
          </div>
        </div>
        <div class="col-md-12 col-lg-7   ml-auto d-lg-flex align-items-center mt-4 ">
          <img src="{% static 'images/dealerbanners.png' %}" alt="" width="750" height="380" class="img-fluid">
        </div>

      </div>
    </div>
  </section>
  <section class="dealerfeatures mt-5">
    <div class="container   py-5">
      <h2 class="maintitle  ">BENEFITS A LEADER</h2>
      <p class="main-subtitle  ">What are the benefits of being a dealer?</p>
      <div class="row">


        <div class=" col-md-4 col-lg-4 mt-3">
          <div class="benefit-details  ">
            <img src="{% static 'images/ben1.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2 c>Vectors</h2> -->
              <p class="para">Annually 96% returns in your invested amount.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class=" benefit-details   ">
            <img src="{% static 'images/ben2.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Forms</h2> -->
              <p class="para">Customers able to purchase Vehicle with zero down payment.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class=" benefit-details    ">
            <img src="{% static 'images/ben3.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Effects</h2> -->
              <p class="para">Service stations are available at all 140 showrooms in Kerala for customers.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class=" benefit-details    ">
            <img src="{% static 'images/ben4.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Paste CSS</h2> -->
              <p class="para">Charging station available at every 10 km.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class=" benefit-details    ">
            <img src="{% static 'images/ben5.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Responsive from the start</h2> -->
              <p class="para">Minimum sales lead of 25.
              </p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class="  benefit-details   ">
            <img src="{% static 'images/ben6.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Library</h2> -->
              <p class="para">Investment options in top and experience electric vehicle in india.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class=" benefit-details     ">
            <img src="{% static 'images/ben7.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Library</h2> -->
              <p class="para">Profit and loss statement of past performance is giving a return of 40% average.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class=" benefit-details    ">
            <img src="{% static 'images/ben8.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Library</h2> -->
              <p class="para">GST OF ONLY 5% for business owners and customers.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class=" benefit-details    ">
            <img src="{% static 'images/ben9.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Library</h2> -->
              <p class="para">Loan facility for business owners and customer.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-lg-4 mt-3">

          <div class="benefit-details     ">
            <img src="{% static 'images/ben10.webp' %}" alt="" width="20px" height="50px" />
            <div>
              <!-- <h2>Library</h2> -->
              <p class="para">Start a business with less investment and high returns in the Indian market</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <section class="appoinment mt-5 dealer-appoi">
    <div class="container-fluid">
      <div class="card row flex-row-reverse">

        <!-- <img class="col-lg-4   card-img-end img-fluid p-0 d-none d-md-none d-lg-block reveal fade-right" src="./images/models-removebg-preview.png" /> -->

        <div class="col-md-12 col-lg-12 card-body  ">
          <div class="app-content">
            <h1 class="card-title    ">WE PROVIDE YOU</h1>
            <div class="btn-content   ">
              <span class="  ">

                <ul class="mt-5">
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>Billing software of Rs. 1,50,000/-will be provided.</li>
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>Websites for sub-dealers against the security deposits.</li>
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>Lead generation of customers for every week. </li>
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>Website management in every month. </li>
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>Posters creation for the sub-dealers. </li>
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>Uniforms for the staffs.</li>
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>One regional manager for all over the district for growth in selling vehicles. </li>
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>Tele-calling training for the staffs. </li>
                  <li><i class="fas fa-arrow-alt-circle-right " style="color:   #ffffff"></i>CRM software worth 20,000/- per month will be provided against the security deposit.</li>
                </ul>
              </span>

              <!-- <a href="" class="btn btn-contact p-0 border-0   ">contact Us <i class="fa-solid fa-arrow-right pl-1" style="color: #000000;"></i></a> -->
            </div>
          </div>


        </div>

      </div>

    </div>
  </section>
  <section class="  my-5 dealership">
    <div class="container">
      <h2 class="maintitle  ">BECOME A DEALER </h2>
      <p class="main-subtitle  ">want to get in touch ? we'd love to hear from you. Here's how you can reach us...</p>

      {% include 'includes/messages.html' %}

      <form action="{% url 'dealerships'%}" class="mt-5 contactform " method="POST">
        {% csrf_token %}
        <h3 class="text-center">DEALER APPLICATION FORM
        </h3>
        <h6 class="text-center">Please fill in all the information and click ‘submit’.</h6>

        <!-- <div class="small text-center">Fill the form below and we'll get in touch with you.</div> -->
        <br />
        <div class="geinstructions my-5   ">
          <h4>GENERAL INSTRUCTIONS</h4>
          <ul class="list-group list-group-numbered ">
            <li class="list-group-item bg-transparent  text-white border-0  "> Application form has following sections: <br><br>

              • Section A - Detail of Applicant Location /Area.<br>
              • Section B - Details of Personal Information.<br>
              • Section C - Business Details<br>
              • Please ensure all sections are duly filled before submission

            </li>
            <li class="list-group-item bg-transparent  text-white border-0  ">
              Please ensure the information provided in application form is correct. We may ask for supporting document for verification.</li>
            <li class="list-group-item bg-transparent  text-white border-0">
              In case of any false information in the application, the candidature will be rejected.
            </li>
            <li class="list-group-item bg-transparent  text-white border-0">The information that you submit will not be used or distributed for any reason other than to fulfill your request. However, you will be required to share the information with
              External Agency appointed by us for Due Diligence.

            </li>
          </ul>
        </div>
        <h6 class="  pb-3  ">Location</h6>

        <div class="row ">

          <div class="col-md-12 col-lg-4 mb-2 ">
            <span class="input-group-text labeltxt col-3 w-100">Country</span>

            <select id="QuestionOptions1" class="form-control informcntrl" name="country">
              <option class="default-label" value="" disabled selected>Select Country:</option>
              <option value="India">India</option>
              <option value="Japan">Japan</option>
              <option value="China">China</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-4 mb-2">
            <span class="input-group-text labeltxt col-3 w-100">District</span>

            <select id="QuestionOptions2" class="form-control informcntrl" name="district">
              <option class="default-label" value="" disabled selected>Select District:</option>
              <option value="District1">District1</option>
              <option value="Tamil Nadu">District2</option>
              <option value="Goa">District3</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-4 mb-2">
            <span class="input-group-text labeltxt col-3 w-100">State</span>

            <select id="QuestionOptions3" class="form-control informcntrl" name="state">
              <option class="default-label" value="" disabled selected>Select State:</option>
              <option value="State1">State1</option>
              <option value="State2 ">State2</option>
              <option value="State3">State3</option>
            </select>
          </div>
        </div>

        <div id="choosesupport" class=" mt-5">
          <h6 class="   pb-3">Personal Information</h6>
          <div class="row">

            <div class="col-lg-6">
              <div class="input-group mb-3 ">
                <span class="input-group-text labeltxt col-3 w-100">First Name</span>
                <input type="text" name="first_name" class="form-control informcntrl w-100 ms-0" placeholder="Type Your First Name">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3 ">
                <span class="input-group-text labeltxt col-3 w-100">Last Name</span>
                <input type="text" name="last_name" class="form-control informcntrl w-100 ms-0" placeholder="Type Your Last Name">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3 ">
                <span class="input-group-text labeltxt col-3 w-100">Email @ </span>
                <input type="text" name="email" class="form-control informcntrl w-100 ms-0" placeholder="@example.com">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3 ">
                <span class="input-group-text labeltxt col-3 w-100">Phone No.</span>
                <input type="text" name="phone" class="form-control informcntrl w-100 ms-0" placeholder="Phone No." maxlength="11">
              </div>
            </div>

            <div class="col-lg-6">
              <div class="input-group mb-3 ">
                <span class="input-group-text labeltxt col-3 w-100">Address</span>
                <textarea name="address" class="form-control informcntrl w-100 ms-0" cols="1" rows="3" maxlength="150"></textarea>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3 ">
                <span class="input-group-text labeltxt col-3 w-100">Description</span>
                <textarea name="description" class="form-control informcntrl w-100 ms-0" cols="1" rows="3" maxlength="150"></textarea>

              </div>
            </div>

          </div>
          <h6 class="  pb-3">Business Information</h6>
          <div class="row">

            <div class="col-lg-6">
              <div class="input-group mb-3 ">
                <span class="input-group-text labeltxt col-3 w-100">Source</span>
                <select id="QuestionOptions4" class="form-control informcntrl " name="source">
                  <option class="default-label" value="" disabled selected>Select Source:</option>
                  <option value="India">Existing Armz Dealer</option>
                  <option value="Tamil Nadu">Customer</option>
                  <option value="Goa">Armz Employee</option>
                  <option value="Goa">News Paper</option>
                  <option value="Goa">Website</option>
                  <option value="Goa">Friends</option>
                  <option value="Goa">Others</option>
                </select>


              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3 ">
                <span class="input-group-text labeltxt col-3 w-100">Business Experience</span>
                <select id="QuestionOptions5" class="form-control informcntrl " name="business_experience">
                  <option class="default-label" value="" disabled selected>Select Experience:</option>
                  <option value="India">Auto</option>
                  <option value="Tamil Nadu">other / Non Auto</option>
                  <option value="Goa">None</option>

                </select>


              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3  ">
                <span class="input-group-text labeltxt rlabeltxt col-3 w-100 mb-3">How Much You Can Invest</span>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-check
                 form-check-inline

                 ">
                      <input class="form-check-input radioce" type="radio" name="investment" id="flexRadioDefault1">
                      <label class="form-check-label radiolab" for="flexRadioDefault1">
                        Below 5 Lakhs

                      </label>


                    </div>

                    <div class="form-check

                   form-check-inline">
                      <input class="form-check-input radioce" type="radio" name="investment" id="flexRadioDefault2" checked>
                      <label class="form-check-label radiolab" for="flexRadioDefault2">
                        Above 5 Lakhs
                      </label>


                    </div>
                  </div>

                </div>




              </div>
            </div>
            <div class="form-check pt-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                I would like to receive offers/product related news and updates from ARMZ Company and authorise them to contact me via SMS, email, WhatsApp and other modes of communication.

              </label>
            </div>
          </div>
          <div class="mt-3 button_wrap text-center ">
            <!-- <a href="#" class="btn btntest">
              <span class="span">
                Reset</span>
            </a> -->
            <!-- <a href="#" class="btn btndealer">
              <span class="span">Submit</span>

            </a> -->

            <input type="submit" value="Submit" class="btn btndealer">

          </div>
        </div>

    </div>
    </form>
    </div>
  </section>

</main>
{% endblock %}