{% extends 'base.html' %}
{% block content %}
<main id="marginTop">
  <section class="mt-5  image-gallery">
    <div class="container">
    <h2 class="maintitle  "  >MOST POPULAR MOVEMENTS</h2>
    <p class="main-subtitle  ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, aliquid dolor voluptate pariatur cum debitis?</p>
    <div class=" button_wrap">
      <button class="active btn btn-gallery btndealer" id="all">Show All</button>
      <button class="btn btn-gallery btndealer" id="a">Showrooms</button>
      <button class="btn btn-gallery btndealer" id="b">Awards</button>
      <button class="btn btn-gallery btndealer" id="c">Inauguration</button>
      <button class="btn btn-gallery btndealer" id="d">Events</button>
     
    
      <div id="parent">
 
        <div class="box a b c d">
        </div>
         <div class="box a"> 
          <div class="row">
            {% for showroom in showrooms %}
            <div class="col-md-6 mt-3 col-lg-4">
              <figure class='newsCard   '>
                <div class=" " id="img_container">
                  <img src="{{showroom.photo.url}}" class="img-fluid" alt="image">
                  <a data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="0" href="" class="button imgbutton"> <i class="fa-solid fa-magnifying-glass-plus fa-2xl" style="color: #ffffff;"></i></a>
              </div>
               <div class='newsCaption mb-3'>
               <div class="d-flex align-items-center justify-content-between cnt-title">
                <h6 class='newsCaption-title text-white m-0'>
                {{showroom.description}} </h6> 
             
                </div>
               </div>
              </figure>
            </div> 
            {% endfor %} 
        </div>
      </div>


        <div class="box b">
          <div class="row">
            {% for award in awards %}
            <div class="col-md-6 mt-3 col-lg-4">
              <figure class='newsCard   '>
                <div class=" " id="img_container">
                  <img src="{{ award.photo.url}}" class="img-fluid" alt="image">
                  <a data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="9" href="" class="button imgbutton"> <i class="fa-solid fa-magnifying-glass-plus fa-2xl" style="color: #ffffff;"></i></a>
              </div>
               <div class='newsCaption mb-3'>
               <div class="d-flex align-items-center justify-content-between cnt-title">
                <h6 class='newsCaption-title text-white m-0'>
                {{award.description}} </h6> 
             
                </div>
               </div>
              </figure>
            </div>
            {% endfor %}
          </div>
        </div>


        <div class="box c">
          <div class="row">
            {% for inauguration in inaugurations %}
            <div class="col-md-6 mt-3 col-lg-4">
              <figure class='newsCard   '>
                <div class=" " id="img_container">
                  <img src="{{ inauguration.photo.url }}" class="img-fluid" alt="image">
                  <a data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="12" href="" class="button imgbutton"> <i class="fa-solid fa-magnifying-glass-plus fa-2xl" style="color: #ffffff;"></i></a>
              </div>
               <div class='newsCaption mb-3'>
               <div class="d-flex align-items-center justify-content-between cnt-title">
                <h6 class='newsCaption-title text-white m-0'>
                {{inauguration.description}} </h6> 
             
                </div>
               </div>
              </figure>
            </div>
            {% endfor %}
          </div>  
        </div>


        <div class="box d">
          <div class="row">
            {% for event in events %}
            <div class="col-md-6 mt-3 col-lg-4">
              <figure class='newsCard   '>
                <div class=" " id="img_container">
                  <img src="{{event.photo.url}}" class="img-fluid" alt="image">
                  <a data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="15" href="" class="button imgbutton"> <i class="fa-solid fa-magnifying-glass-plus fa-2xl" style="color: #ffffff;"></i></a>
              </div>
               <div class='newsCaption mb-3'>
               <div class="d-flex align-items-center justify-content-between cnt-title">
                <h6 class='newsCaption-title text-white m-0'>
                  {{event.description}} </h6> 
             
                </div>
               </div>
              </figure>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
         <!--galley  Modal carousel-->
         <div class="modal fade loadmodel" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true"  data-bs-backdrop="static" 
         data-bs-keyboard="false" >
             <div class="modal-dialog modal-dialog-centered  modal-xl">
                 <div class="modal-content">
                   <div class="modal-header">
                      <button type="button" class="btn-close btn-close-white " data-bs-dismiss="modal" aria-label="Close"></button>
                   </div> 
                     <div id="galleryControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                         <div class="carousel-inner ">

                             <div class="carousel-item active p-2 "  data-bs-interval="2000">
                                 <img src="./images/about-team.png" alt="0" class=" d-block w-100">
                             </div>
                             <div class="carousel-item p-2"  data-bs-interval="2000">
                                 <img src="./images/about-team.png" class="d-block w-100 " alt="1">
                             </div>
                             <div class="carousel-item p-2"  data-bs-interval="2000">
                               <img src="./images/about-team.png" class="d-block w-100 " alt="2">
                             </div>
                             <div class="carousel-item p-2"  data-bs-interval="2000">
                               <img src="./images/about-team.png" class="d-block w-100 " alt="3">
                           </div>
                             <div class="carousel-item p-2"  data-bs-interval="2000">
                               <img src="./images/about-team.png" class="d-block w-100 " alt="4">
                           </div>
                             <div class="carousel-item p-2"  data-bs-interval="2000">
                               <img src="./images/about-team.png" class="d-block w-100 " alt="5">
                           </div>
                             <div class="carousel-item p-2"  data-bs-interval="2000">
                               <img src="./images/about-team.png" class="d-block w-100 " alt="6">
                           </div>
                             <div class="carousel-item p-2"  data-bs-interval="2000">
                                 <img src="./images/about-team.png" class="d-block w-100" alt="7">
                             </div>
                             <div class="carousel-item p-2"  data-bs-interval="2000">
                               <img src="./images/about-team.png" class="d-block w-100" alt="8">
                           </div>
                           
                           <div class="carousel-item p-2"  data-bs-interval="2000">
                            <img src="./images/news3.png" class="d-block w-100" alt="9">
                        </div>
                        <div class="carousel-item p-2"  data-bs-interval="2000">
                          <img src="./images/news2.png" class="d-block w-100" alt="10">
                      </div>
                      <div class="carousel-item p-2"  data-bs-interval="2000">
                        <img src="./images/news3.png" class="d-block w-100" alt="11">
                    </div>
                    <div class="carousel-item p-2"  data-bs-interval="2000">
                      <img src="./images/about-team.png" class="d-block w-100 " alt="12">
                    </div>
                    <div class="carousel-item p-2"  data-bs-interval="2000">
                      <img src="./images/about-team.png" class="d-block w-100 " alt="13">
                  </div>
                    <div class="carousel-item p-2"  data-bs-interval="2000">
                      <img src="./images/about-team.png" class="d-block w-100 " alt="14">
                  </div>
                  <div class="carousel-item p-2"  data-bs-interval="2000">
                    <img src="./images/videobanner.png" class="d-block w-100 " alt="15">
                </div>
                <div class="carousel-item p-2"  data-bs-interval="2000">
                  <img src="./images/videobanner.png" class="d-block w-100 " alt="16">
              </div>
              <div class="carousel-item p-2"  data-bs-interval="2000">
                <img src="./images/videobanner.png" class="d-block w-100 " alt="17">
            </div>
                           
                         </div>
                         <button class="carousel-control-prev" type="button" data-bs-target="#galleryControls" data-bs-slide="prev">
                             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                             <span class="visually-hidden">Previous</span>
                         </button>
                         <button class="carousel-control-next" type="button" data-bs-target="#galleryControls" data-bs-slide="next">
                             <span class="carousel-control-next-icon" aria-hidden="true"></span>
                             <span class="visually-hidden">Next</span>
                         </button>
                     </div>
                 </div>
             </div>
         </div>
    </div>


  </div>
 </section>
 
 
</main>

{% endblock %}
<script>
  // gallery image Carousel

  var myCarousel1 = document.querySelector('#galleryControls')
var myModalEl = document.getElementById('galleryModal')

myModalEl.addEventListener('show.bs.modal', function (event) {
    const trigger = event.relatedTarget
    var bsCarousel = bootstrap.Carousel.getInstance(myCarousel1)
    bsCarousel.to(trigger.dataset.bsSlideTo)
})
</script>
  </body>
</html>
