{% load static %}
<section class="mt-5">
    <footer class="footer-section  footer-nav reveal fade-bottom">
      <div class="container">
        <div class="pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4  ">
              <div class="footer-widget">
                <div class="footer-logo reveal fade-left">
                  <a href="index.html"><img src="{% static 'images/ARMZ_MASTER_LOGO-01-removebg-preview 1.png'%}" class="img-fluid" alt="logo"></a>
                </div>
                <div class="footer-text pt-3 reveal fade-left">
                  <p>The
                    Armz group of companies are committed corporate entity that
                    expanding in the fields of technology, building e-mobility, and e-commerce, among others. </p>
                </div>
                <span class="text-left social-title reveal fade-left">
                  SOCIAL MEDIA
                </span>
                <div class=" mobile-footer d-flex justify-content-start align-items-start py-2  mb-4  fs-4 flex-lg-row   ">
                  <a href="javascript:void(0)" class="ms-0 reveal fade-bottom"> <i class="fa-brands fa-square-facebook"></i>
                  </a>
                  <a href="javascript:void(0)" class="ms-4  reveal fade-bottom "> <i class="fa-brands fa-square-twitter"></i>
                  </a>
                  <a href="javascript:void(0)" class="ms-4  reveal fade-bottom "> <i class="fa-brands fa-instagram"></i>

                  </a>
                  <a href="javascript:void(0)" class="ms-4  reveal fade-bottom "> <i class="fa-brands fa-square-youtube"></i>
                  </a>
                </div>

              </div>
            </div>
            <div class="col-xl-8 col-lg-8  ">
              <div class="row footer-cta pb-4 reveal fade-bottom">
                <div class="col-xl-3 col-md-3  mb-3">
                  <div class="single-cta  ">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4>Call us</h4>
                    <div class="cta-text">
                      <!-- <h4>Call us</h4> -->
                      <span>+919995653555</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-5 col-md-5 mb-3 ">
                  <div class="single-cta  ">
                    <i class="far fa-envelope-open"></i>
                    <h4>Mail us</h4>
                    <div class="cta-text">
                      <!-- <h4>Mail us</h4> -->
                      <span>armzmotors.com@gmail.com</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4  mb-3">
                  <div class="single-cta  ">
                    <i class="far fa-envelope-open"></i>
                    <h4>Find us</h4>
                    <div class="cta-text">
                      <!-- <h4>Find us</h4> -->
                      <span>Aramam Complex
                        Govinda Muttom PO
                        Kayamkulam
                        Alappuzha - 690 547
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-md-4">
                  <div class="single-cta mt-5 reveal fade-bottom">
                    <h4>QUICK LINKS</h4>
                    <div class="cta-text cta-link pt-3">
                      <span><a href="#about">About</a></span>
                      <span><a href="emodels.html">Vehicle Models</a></span>
                      <span><a href="javascript:void(0)">Blog</a></span>
                      <span><a href="contact.html">Contact</a></span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4">
                  <div class="single-cta mt-5 reveal fade-bottom">
                    <h4>QUICK LINKS</h4>
                    <div class="cta-text cta-link pt-3">
                      <span><a href="privacy-policy.html">Privacy Policy</a></span>
                      <span><a href="terms-conditions.html">Terms & Condiitons</a></span>
                      <span><a href="faqs.html">Faqs</a></span>
                      <span><a href="javascript:void(0)">Disclaimer</a></span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4">
                  <div class="single-cta mt-5 reveal fade-bottom">
                    <h4>OUR SHOP</h4>
                    <div class="cta-text cta-link pt-3">
                      <span><a href="javascript:void(0)">Bikes & Parts</a></span>
                      <span><a href="selectvehicle.html">Booking Form</a></span>
                      <span><a href="{% url 'dealership' %}">Dealership</a></span>
                      <span><a href="contact.html">Branches</a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row   ">
            <div class="col-xl-6 col-lg-6 ">
              <div class="d-flex copyright-text justify-content-start  flex-column flex-lg-row">
                <p>Armz Super Eco Template Kit by xyzcompany.</p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6  ">
              <div class="d-flex copyright-text   justify-content-end  flex-column flex-lg-row">
                <p>Copyright &copy; 2023, All Right Reserved </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i></a>
